// Colors
$dark-blue: #111E44;
$light-blue: #3361E9;
$white: #FFFFFF;
$black: #000000;
$gray: #F5F5F5;
$green: #219653;

$fontMain: 'Roboto', Arial, sans-serif;

// Sass Screen Variables
$bp-mobile: 486px;
$bp-tablet: 924px;
$bp-laptop: 1024px;
$bp-large: 1440px;
